@page
@model MyApp.Namespace.QueryCrudModel
@{
    ViewData["Title"] = "QueryCrud";
}

<form method="post">
<div class="row text-center">
<div class="col-6 justify-content-center">
	<h5>RailCar Query</h5>
	<div class="row mb-3 justify-content-center">
		<div class="col-3">
			<label for="PartialProgramName" class="col-form-label">Program Name</label>
		</div>
		<div class="col-4">
			<input type="search" class="form-control" 
				placeholder="PartialProgramName" 
				id="PartialProgramName" 
				name="PartialProgramName" value="@Model.PartialProgramName">
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-dark" 
				name="ButtonPressed" value="SearchByPartialProgramName">
				Search
			</button>
		</div>
	</div>
	<div class="row mb-3 justify-content-center">
		<div class="col-3">
			<label for="SelectedSchoolCode" class="col-form-label">School</label>
		</div>
		<div class="col-4">
			<select class="form-select" id="SelectedSchoolCode" name="SelectedSchoolCode">
				<option value="0">select ...</option>
				@foreach (var item in Model.SelectListOfSchool)
				{
					<option value="@item.ValueField" 
						selected=@(Model.SelectedSchoolCode == item.ValueField)>
						@item.DisplayField
					</option>
				}
			</select>
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-dark" 
				name="ButtonPressed" value="SearchBySchoolCode">
				Search
			</button>
		</div>
		<input type="hidden" name="FilterType" value="@Model.FilterType">
	</div>
	@if(Model.SearchedProgram != null)
	{
		<div id="table_box_bootstrap">
		<table class="table table-hover">
		<thead>
		<tr>
			<th>Action</th>
			<th>Program Name</th>
			<th>School</th>
			<th>Tuition</th>
		</tr>
		</thead>
		<tbody>
		@if(Model.SearchedProgram.Count == 0)
		{
		<tr><td colspan="6"><i>There are no Programs available.</i></td></tr>
		}
		@foreach(var item in Model.SearchedProgram)
		{
		<tr>
			<td>
				<button type="submit" class="btn btn-dark" 
				name="Program.ProgramID" value="@item.ProgramID">
				Edit
				</button>
			</td>
			<td>@item.ProgramName</td>
			<td>@item.SchoolName</td>
			<td>@item.Tuition</td>						
		</tr>
		}
		</tbody>
		</table>
		</div>
	}
	</div>
<div class="col-1"></div>
<div class="col-5">
	<h5>RailCar Crud</h5>
	<div class="row mb-3">		
		<div class="col">
			<label for="ProgramID" class="col-form-label">ProgramID</label>
			<input type="number" class="form-control" readonly id="ProgramID" 
			name="Program.ProgramID" value="@Model.Program.ProgramID" />
		</div>		
		<div class="col">
			<label for="ProgramName" class="col-form-label">Program Name</label>
			<input type="text" class="form-control" id="ProgramName" 
			name="Program.ProgramName" value="@Model.Program.ProgramName" />
		</div>		
	</div>
	<div class="row mb-3">		
		<div class="col">
			<label for="DiplomaName" class="col-form-label">Diploma Name</label>
			<input type="text" class="form-control" id="ProgramName" 
			name="Program.DiplomaName" value="@Model.Program.DiplomaName" />
		</div>		
		<div class="col">
			<label for="SchoolCode" class="col-form-label">School</label>
			<select class="form-select" id="SchoolCode" name="Program.SchoolCode">
				<option value="0">select ...</option>
				@foreach (var item in Model.SelectListOfSchool)
				{
					<option value="@item.ValueField" 
					selected=@(Model.Program.SchoolCode == item.ValueField)>
					@item.DisplayField
					</option>
				}
			</select>
		</div>
	</div>
	<div class="row mb-3">				
		<div class="col">
			<label for="Tuition" class="col-form-label">Tuition</label>
			<input type="number" class="form-control" id="Tuition" 
				name="Program.Tuition" value="@Model.Program.Tuition"/>
		</div>		
		<div class="col">
			<label for="InternationalTuition" class="col-form-label">InternationalTuition</label>
			<input type="number" class="form-control" id="InternationalTuition" 
				name="Program.InternationalTuition" value="@Model.Program.InternationalTuition"/>
		</div>			
	</div>
	
	<div class="row mb-3 justify-content-center">
		<div class="col-2">
			<button type="submit" class="btn btn-dark"
				disabled=@(Model.Program.ProgramID != 0) 
				name="ButtonPressed" value="Add">&nbsp;Add&nbsp;&nbsp;&nbsp;</button>
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-dark" 
			disabled=@(Model.Program.ProgramID == 0)
			name="ButtonPressed" value="Update">Update</button>
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-dark" 
			disabled=@(Model.Program.ProgramID == 0)
			name="ButtonPressed" value="Delete">Delete</button>
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-dark" 
			name="ButtonPressed" value="Clear">Clear</button>
		</div>
	</div>
	
	@if(!string.IsNullOrEmpty(Model.ErrorMessage))
	{
		<p class="error-message">@Model.ErrorMessage</p>
	}

	@if(!string.IsNullOrEmpty(Model.SuccessMessage))
	{
		<p class="success-message">@Model.SuccessMessage</p>
	}
</div>
</div>
</form>

<script type="text/javascript" src="~/js/paginator.js"></script>

<script type="text/javascript">
window.addEventListener("load", function () {
    let box = paginator({
        table: document.getElementById("table_box_bootstrap").getElementsByTagName("table")[0],
        box_mode: "list",
    });
    box.className = "box";
    let mytarget = document.getElementById("table_box_bootstrap");
    mytarget.appendChild(box);
    mytarget.style.display = 'block';
}, false);
</script>
