@page
@model MyApp.Namespace.ContactModel
@{
	ViewData["Title"] = "Contact";
}

<div class="container">
    <h5>Contact Us</h5>
    <p>Please fill out this form to contact us, we'd love to hear from you!</p>

    @if(!string.IsNullOrEmpty(Model.ErrorMessage)){
        <p style="color:red; font-weight: bold;">@Model.ErrorMessage</p>
    }

    @if(!string.IsNullOrEmpty(Model.SuccessMessage)){
        <p style="color:green; font-weight: bold;">@Model.SuccessMessage</p>
    }

    <form method="POST" novalidate>
        <div class="row g-3 mb-3">            
            <div class="col-4">            
                <input type="text" class="form-control" placeholder="enter message title" name="text1" value="@Model.Text1" />
            </div>
        </div> 
       
        <div class="row g-3 mb-3">            
            <div class="col-4">            
                <input mode="text" class="form-control" placeholder="enter email" name="Email" value="@Model.Email" />
            </div>
        </div>         
         
		<div class="row g-3 mb-3">
			<div class="col-4">
			<select class="form-select" name="SelectedSubjectId">
				@for (var index = 0; index < Model.SelectListOfSubjects.Count; index++)
				{
					if (Model.SelectedSubjectId == index)
					{
						<option value="@index" selected>@Model.SelectListOfSubjects[index]</option>
					}
					else
					{
						<option value="@index">@Model.SelectListOfSubjects[index]</option>
					}
				}
				</select>
			</div>
		</div>

        <div class="row g-3 mb-3">
			<div class="col-4">
				<textarea class="form-control" rows="5" cols="60" placeholder="enter your message" name="MessageBody">@Model.MessageBody</textarea>
			</div>
		</div>
        
        <div class="row g-3 mb-3">
			<div class="col-4">
				<div class="form-check">
					<label class="form-check-label" for="CheckBox">Active Member:</label>
					<input type="checkbox" class="form-check-input" id="CheckBox" name="CheckBox" checked="@Model.CheckBox" />
				</div>
			</div>
		</div>

        <div class="row g-3 mb-3">
			<div class="col-4">
				<button type="submit" class="btn btn-dark" name="ButtonPressed" value="Submit">Submit</button>
				<button type="submit" class="btn btn-dark" name="ButtonPressed" value="Clear">Clear</button>
			</div>
		</div>

    </form>
</div>